#body{
    background-color: #f4f3e5;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    color: #333333;
    margin: 0px;
    padding: 0px;
}
/*-----------------------------------------------------------------------------------*/
#navbar{
    background-color: #f4f3e5; 
    padding: 30px 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 0px rgba(168, 167, 167, 0.2);
    justify-content: center;
}
#extension-nav{
    color: #4f4f4f;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    width: 270px; 
    height: 39px;
    padding-right: 14px; 
}
#a1{
    font-family: 'Montserrat',sans-serif;
    font-size: 13px;
    padding: 6px 10px;
    margin: 0px 6px 0px 0px;
    text-decoration: none;
    color: #4f4f4f;
}
#a2{
    font-family: 'Montserrat',sans-serif;
    font-size: 13px;
    padding: 6px 10px;
    margin: 0px 6px;
    text-decoration: none;
}
#a3{
    font-family: 'Montserrat',sans-serif;
    font-size: 13px;
    padding: 6px 10px;
    margin: 0px 0px 0px 6px;
    text-decoration: none;
}

.nav-link-hover:hover{
    color: #97c21e;
    }
.nav-link-hover::after{
    content: ""; /* Contenido generado por CSS */
    display: block; /* Lo convierte en un elemento bloque */
    width: 100%; /* Anchura igual al 100% del ancho del enlace */
    height: 2px; /* Altura del subrayado */
    background-color: #97c21e;
    opacity: 0;
    transition: opacity 0.3 ease;
}
.nav-link-hover:hover::after{
    opacity: 1;
}
.nav-link::after{
    content: ""; /* Contenido generado por CSS */
    display: block; /* Lo convierte en un elemento bloque */
    width: 100%; /* Anchura igual al 100% del ancho del enlace */
    height: 2px; /* Altura del subrayado */
    background-color: #97c21e;
    opacity: 0;
    transition: opacity 0.3 ease;
}
ul.dropdown-menu{
    background-color: #f7f6ea;
    border: 0px;
    border-radius: 0px;
    text-align: center;
    margin: 20px auto;
}
.dropdown-item-hover:hover{
    color: #97c21e;
}
@media (max-width: 1224px){
    
}
/*-----------------------------------------------------------------------------------*/
#div1{
    font-size: 16px;
    margin: 0 0 0 64px;
    padding: 64px 0 0;
    color: #333333;
    font-family: 'Montserrat',sans-serif;
    width: 50%;
}
#h1{
    font-family: 'Montserrat',sans-serif;
    color: #97c21e;
    font-size: 66px;
    font-weight: 800;
    line-height: 80px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    margin: 0 0 20px;
}
#image1{
    position: relative;
    width: 612px;
    height: 100%;
}
#span1{
    color: #4f4f4f;
    font-size: 18px;
    word-spacing: 2px;
}
#boton1{
    background-color: #88ae1c;
    margin-top: 40px;
    font-size: 20px;
    padding: 7px 12px;
    font-weight: 500;
    text-decoration: none;
}
#boton1 a{
    text-decoration: none;
    color: #ffff;
}
/*-----------------------------------------------------------------------------------*/
#image2{
    width: 612px;
    height: 75%;
}
#div2{
    font-size: 16px;
    margin: 0px 0px 0px 20px;
    color: #333333;
    font-family: 'Montserrat',sans-serif;
    width: 50%;
}
#h2{
    font-family: 'Montserrat',sans-serif;
    color: #97c21e;
    font-size: 44px;
    font-weight: 700;
    line-height: 55px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    margin-bottom: 20px;
    padding-right: 80px;
}
#h3{
    font-family: 'Montserrat',sans-serif;
    color: #97c21e;
    font-size: 44px;
    font-weight: 700;
    line-height: 55px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    margin-bottom: 20px;
}
.medida{
    display: flex;
    font-size: 18px;
    margin-right: 20px;
}
.medida ul:first-child{
    margin-right: 20px;
}
.medida li{

    margin-bottom: 15px;
    color: #00405b;
}
#span2{
    color: #4f4f4f;
    font-size: 18px;
}
#boton2{
    background-color: #88ae1c;
    margin-top: 20px;
    font-size: 20px;
    padding: 7px 12px;
    font-weight: 500;
}
#boton2 a{
    text-decoration: none;
    color: #ffff;
}
/*-----------------------------------------------------------------------------------*/
.section1{
    padding: 100px;
    text-align: center;
}
#text-grand{
    color: #00405B;
    font-size: 43px;
    font-weight: 700;
    line-height: 1.5em;
}
.plantilla{
    background-image: url('../img/fondito.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
}
#h3{
    color: #00405B;
    font-size: 25px;
    margin-bottom: 2px;
    word-spacing: normal;
}
#boton3{
    background-color: #00405B;
    margin-top: 20px;
    font-size: 18px;
    padding: 12px 10px;
    font-weight: 400;
}
#boton3 a{
    text-decoration: none;
    color: #ffff;
}
#boton3:hover{
    background-color: #00597f;
}
#span3{
    color: #4f4f4f;
    font-size: 18px;
    word-spacing: 2px;
    font-weight: 400;
}
#c2{ 
    border-radius: 10px 10px 10px 10px;
    border: solid #97c21e;
    width: auto;
    height: auto;
    align-items: center;
    display: flex;
    padding: 0px 0px 10px;
    margin: 0px 0px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #00405B;
}
/*-----------------------------------------------------------------------------------*/

#div5 h2{
    font-family: 'Montserrat',sans-serif;
    color: #97c21e;
    font-size: 44px;
    font-weight: 700;
    line-height: 50px;
}
/*-----------------------------------------------------------------------------------*/
.section2{
    background-color: #f4f3e5;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
}
.section2 img{
    margin: auto 35px;
}
/*-----------------------------------------------------------------------------------*/
footer{
    background-color: #97c21e;
    color: #ffff;
    padding: 10px 0px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.div1{
    padding: 10px;
    max-width: 1114px;
    width: 100%;
}
section:nth-child(1){
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
section:nth-child(1) div{
    max-width: 700px;
    padding: 10px;
}
section:nth-child(1) h2{
    font-family: 'Montserrat',sans-serif;
    font-size: 54px;
    font-weight: 700;
    color: #ffff;
}
section:nth-child(2){
    padding: 0px 0px 30px 0px;
    display: flex;
    justify-content: space-between;
}
section:nth-child(2) div{
    margin: 0px 30px 0px 0px;
    display: flex;
    justify-content: space-between;
}
section:nth-child(2) p{
    font-weight: 500;
}
section:nth-child(3){
    padding: 0px 0px 40px 0px;
    width: 100%;
}
section:nth-child(3) a{
    width: 31%;
}
.boton{
    background-color: #ffff;
    font-size: 13px;
    padding: 8px 110px;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
    color: #97c21e;
    border-radius: 5px;
}
.boton:nth-child(2){
    margin: 0px 10px 0px;
}
section:nth-child(4) {
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
section:nth-child(4) div{
    max-width: 700px;
    align-items: center;
    text-align: start;
    width: 33.3%;
}
section:nth-child(4) p{
    font-weight: 700;
    font-size: 18px;
}
section:nth-child(4) div:nth-child(3){
    align-items: center;
    text-align: end;
}
section:nth-child(4) a>img{
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

.carrusel {
    width: 90%;
    overflow: hidden;
    position: relative;
    margin: 65px auto;
  }
  
  .contenedor-imagenes {
    display: flex;
    animation: deslizamiento 40s linear infinite;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .contenedor-imagenes img {
    width: 100%;  /* 25px como especificaste */
    height: 100%;
    margin: 0 25px; /* Espacio entre las imágenes */
  }
  
  @keyframes deslizamiento {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  